<section>
        <div class="container">
          <h2 class="title-section-two">Product was Built Specifically for You</h2>
         <ul class="section-two-list">
            <li class="sectoin-two-item">
              <img src="./images/icon bd.svg" alt="" width="54" height="54" />
              <h3>First click tests</h3>
              <p>While most people enjoy casino gambling,</p>
            </li>
            <li>
              <img src="./images/icon-2.svg" alt="" width="54" height="54" />
              <h3>Design surveys</h3>
              <p>Sports betting, lottery and bingo playing for the fun</p>
            </li>
            <li class="sectoin-two-item">
              <img src="./images/icon-3.svg" alt="" width="54" height="54" />
              <h3>Preference tests</h3>
              <p>The Myspace page defines the individual.</p>
            </li>
            <li class="sectoin-two-item">
              <img src="./images/icon-4.svg" alt="" width="54" height="54" />
              <h3>Five second tests</h3>
              <p>Personal choices and the overall personality of the person.</p>
            </li>
         </ul>
          <button type="button" class="button">sign up now</button>
        </div>
      </section>